* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ttf binary
*.otf binary
*.tflite binary
*.bin binary
*.keystore binary
*.apk binary
*.aab binary
